# Project Sample

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

##Read Data - Tables from internet

<font color='magenta'>Download the datafile from my public google drive!

In [ ]:
#CSV File
!gdown --id 1sCEQsdfw1-JsuugJMgDuxcq4iUvqAI1f

# Manual Analysis

In [ ]:
def CSV_Data_Reader(File_Name, Seprator, NonNumerical):
  '''
  This function takes a csv file and generate a dictionary
  The keys of the dictionary are the column names
  Values of the dictionary are columns of the data
  '''
  import csv
  with open(File_Name) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=Seprator)
    line_count=0
    Data=[]
    for row in csv_reader:
      if line_count==0:
        Header=row
      else:
        Data.append(row)
      line_count=line_count+1

  Data_dict={}

  idx=0
  for name in Header:
    Data_dict[name]=[]
    for row in Data:
      if name in NonNumerical:
        Data_dict[name].append(row[idx])
      else:
        if row[idx].replace('.','').isdigit():
          Data_dict[name].append(float(row[idx]))
        else:
          Data_dict[name].append(None)
    idx=idx+1
  return Data_dict

In [ ]:
Data=CSV_Data_Reader('/content/AI_030_JM_Data_All.csv',',',['DateTime'])

In [ ]:
DataCut={}

q=0
for i in Data:
  q=q+1
  if q <25:
    if i[0]=='T' or i[0]=='S' or i[0]=='D':
      DataCut[i]=Data[i]

In [ ]:
for i in DataCut:
  print(i)

In [ ]:
DataCut['DateTime'][0]

### Parse DateTime - Time series

In [ ]:
import datetime

In [ ]:
datetime.datetime.strptime(DataCut['DateTime'][0], '%m/%d/%Y %H:%M')

In [ ]:
datetime.datetime.strptime(DataCut['DateTime'][0], '%m/%d/%Y %H:%M').month

In [ ]:
q=0
for i in DataCut['DateTime']:
  DataCut['DateTime'][q]=datetime.datetime.strptime(i, '%m/%d/%Y %H:%M')
  q=q+1

In [ ]:
DataCut['DateTime'][0]

##Create Plots

In [ ]:
plt.scatter(DataCut['DateTime'], DataCut['S1'])

In [ ]:
plt.hist(DataCut['S1'])

In [ ]:
S1=[]
for i in DataCut['S1']:
  if i!=None:
    S1.append(i)

In [ ]:
plt.hist(S1)

## Shrink Data

In [ ]:
DataCutCleanCut={'DateTime':[],'S1':[],'Temp1':[] }

for i in range(len(DataCut['DateTime'])):
  if DataCut['DateTime'][i]!=None and DataCut['S1'][i]!=None and DataCut['Temp1'][i]!=None:
    DataCutCleanCut['DateTime'].append(DataCut['DateTime'][i])
    DataCutCleanCut['S1'].append(DataCut['S1'][i])
    DataCutCleanCut['Temp1'].append(DataCut['Temp1'][i])

In [ ]:
for i in DataCutCleanCut:
  print(i)

In [ ]:
len(DataCutCleanCut['DateTime'])

## Moving Stats

In [ ]:
Month=list(range(1,13))

print(Month)

In [ ]:
DataGrouped={'Month':Month, 'S1':[[] for i in range(12)], 'Temp1':[[] for i in range(12)]}

In [ ]:
for index in range(len(DataCutCleanCut['DateTime'])):
  #print(index)
  for m in Month:
   #print(m)
   if DataCutCleanCut['DateTime'][index].month==m:
     #print(m)
     DataGrouped['S1'][m-1].append(DataCutCleanCut['S1'][index])
     DataGrouped['Temp1'][m-1].append(DataCutCleanCut['Temp1'][index])
     break

In [ ]:
len(DataGrouped['S1'])

In [ ]:
len(DataGrouped['S1'][0])

In [ ]:
len(DataGrouped['S1'][11])

In [ ]:
Stats={'Month':Month, 'S1_AVG':[], 'Temp1_Max':[], 'Count':[]}

In [ ]:
for i in range(12):
  Stats['S1_AVG']=sum(DataGrouped[])

In [ ]:
#Complete the code!

#Pandas Verification

In [ ]:
df_RAW=pd.read_csv('/content/AI_030_JM_Data_All.csv')

In [ ]:
df_RAW

In [ ]:
list(df_RAW.columns)

In [ ]:
df_RAW.index

In [ ]:
df_RAW.info(verbose=True)#use verbose to show all columns

In [ ]:
df_RAW.describe()

In [ ]:
df_RAW.columns[0:25]

In [ ]:
df=df_RAW[df_RAW.columns[0:25]].copy()
df.tail(6)

In [ ]:
df.drop(df.columns[1:11],axis=1).head()

In [ ]:
df=df.drop(df.columns[1:11],axis=1)
df

In [ ]:
['DateTime']+['Sensor'+str(i) for i in range(7)]+['Temperature'+str(i) for i in range(7)]

In [ ]:
df.columns=['DateTime']+['Sensor'+str(i) for i in range(7)]+['Temperature'+str(i) for i in range(7)]

In [ ]:
df.head()

### Parse Date Time - Time series

In [ ]:
df.info()

In [ ]:
df['DateTime']

In [ ]:
pd.to_datetime(df['DateTime'])

In [ ]:
dfc=df.copy()
df['DateTime']=pd.to_datetime(df['DateTime'])

In [ ]:
df.info()

In [ ]:
dfc.info()

In [ ]:
dfc['DateTime']

In [ ]:
pd.to_datetime(dfc['DateTime'], format='%m/%d/%Y %H:%M')

<font color='magenta[link text](https://)'>Where should I get the formatting?!</font><br>
https://docs.python.org/3/library/datetime.html

In [ ]:
df.info()

In [ ]:
df['DateTime'].dt.year#year,month,day,hour,minute,second

In [ ]:
df.tail()

In [ ]:
df[(df['DateTime'].dt.minute==00) | (df['DateTime'].dt.minute==30)]

## Pre-Processing

In [ ]:
None
np.nan
pd.NA

### Gap in Data
Empty cell! <br>
*   Python: None
*   Numpy: NaN (np.nan)
*  Pandas: NA (pd.NA)
*   SQL: NULL

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.notnull()#notnull

####Treat outliers like Gaps?!
Only outliers that are like NaN

In [ ]:
df[df['Sensor1'].notnull()]

In [ ]:
df.replace(-99999,None).head(10)

In [ ]:
df=df.replace(-99999,None)
df

In [ ]:
df['Temperature0'].min()

In [ ]:
df[df['Temperature1']==-99.99]

In [ ]:
df=df.replace(-99.99,None)

In [ ]:
df

#### Remove the records (rows) with NaN Values

In [ ]:
df

In [ ]:
df.dropna(thresh=5,subset=['Sensor'+str(i) for i in range(7)])

In [ ]:
df.dropna(axis=1, thresh=100)#remove the columns

In [ ]:
df=df.dropna(thresh=5,subset=['Sensor'+str(i) for i in range(7)])

In [ ]:
df

In [ ]:
df=df.dropna(thresh=3,subset=['Temperature'+str(i) for i in range(7)])
df

#### Fill the gap

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(df.mean()) #What about mean?

In [ ]:
#df['Sensor2'].loc[607]=None
#df
df.interpolate(method='linear') #Remember Axis is zero by default

In [ ]:
df=df.interpolate(method='linear') #Remember Axis is zero by default
df=df.dropna(thresh=7,subset=['Sensor'+str(i) for i in range(7)])
df

### Combine Columns (Series)
In this case, all thermistors are so close so we want to use the mean of them all

In [ ]:
df

In [ ]:
df.columns[-7:]

In [ ]:
df[df.columns[-7:]].mean(axis=1)

In [ ]:
df['Temperature']=df[df.columns[-7:]].mean(axis=1)

In [ ]:
df.columns

In [ ]:
df.columns[-8:-1]

In [ ]:
df=df.drop(df.columns[-8:-1],axis=1)
df

###Re-Sampling
Read more: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html

##### Dont confuse it with sampling!!

In [ ]:
df.sample(10) #randomly select 10 records
#df.sample(frac=0.1) #or randomly select some percentage of data

In [ ]:
df.sample(frac=0.1)

In [ ]:
df.resample('30min',on='DateTime').max()#min, y,d

In [ ]:
df.set_index('DateTime').resample('30min').mean()

In [ ]:
df_Weekly=df.resample('7d',on='DateTime').mean()
df_Weekly

In [ ]:
df_Weekly.drop(['Temperature','Sensor6'],axis=1).plot()

### Query - Data Grouping/Selection

In [ ]:
df

In [ ]:
df.groupby(by=df['DateTime'].dt.month).mean()

In [ ]:
df.groupby(by=[df['DateTime'].dt.year,df['DateTime'].dt.month] ).mean().plot()

In [ ]:
df.info()