#**Introduction to Python and R - Workshop 1 - Foundation**

## **Objectives**


* **Hands-on**
 * Syntax
 * Operators
 * Strings
 * Lists
 * Tuples

## **Introduction**
* Developed in early 90â€™s by **Guido Van Rossum**

### **What is Python**
* General purpose, 
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

* Simple, Portable, Open source & Powerful

### **Ways to run Python**
* Local run - on personal PC
* Web-based interactive computational environment like Jupyter Notebooks, Google Colaboratory, etc

## **Syntax - Variables** 

* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

In [ ]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### **Variable names**
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [ ]:
my_name = 'John Smith'

In [ ]:
v_1 = 8
v_2 = 9

#### **Using a variable**
To use a variable, just type out the variable name. 
<br>
See examples below

In [ ]:
print(my_name)

In [ ]:
age = v_1 + v_2

In [ ]:
print ('I am', age, 'years old')

**<center>Note:**

**print** is a function that displays its arguments (inputs). It can take 
multiple arguments (inputs) separated by commas '**,**'.

## **Operators**

### **Assingment**

 * '**=**' is the assignment operator. Left operand is assigned with right operand<br>
 * '**+=**' is the increment operator. Adds right operand to left operand and assigns to the left operand<br>
 * '**-=**' is the decrement operator. Subtracts right operand from the left operand and assigns to the left operand<br>

### **Comparison**
 * '**==**' equals
 * '**!=**' does not equal
 * '**<**' is less than
 * '**>**' is greater than
 * '**<=**' is less than or equal
 * '**>=**' is greater than or equal

### **Boolean or Logical**

*  and 
*  or
*  not

### **Arithmetic Operators**

#### **Addition ( + )**

In [ ]:
2+3

#### **Subtraction ( - )**

In [ ]:
9-3

#### **Multiplication ( * )**

In [ ]:
3*8

#### **Division( / )**

In [ ]:
3/2

#### **Floor Division ( // )**

In [ ]:
3//2

#### **Modulus( % )**

In [ ]:
9%5

#### **Exponent( ** )**

In [ ]:
2**3

## **Comments**
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [ ]:
# This line is ignored

* Multi-line - Not supported in Python but people use triple quote (**Will show this later**)
* Use the # on each line of a multiline comment

In [ ]:
# This is a multi-line comment
# This line and the line above are both ignored by the interpreter

# **Exercise 1**
#### **Tip Calculator!!**
Cost of meal = 54.76
<br>
Tax = 7.85%
<br>
Tip = 15%
<br>
Find the tax amount, cost after the tax, tip amount, and total cost

In [ ]:
# Create a variable for cost of meal, tax and tip and assign their values
# Note that percentage is not captured in programming languages. Divide by 100 instead. 
cost_of_meal = 54.76




# Calculate tax amount by creating a variable for it and assign it to a formula using the variables for cost of meal and tax


# Calculate cost after tax


# Calculate tip amount
# Hint: Calculate the tip amount the cost after tax


# Calculate total amount


print('My original meal cost is', cost_of_meal)

# Follow the example above and print the tax amount


# Print the cost after tax


# Print the tip amount


# Print the total cost of the meal

## **Data types**
Data Types are implied. They do not have to be declared
* Numeric types - int, float, complex
* Boolean - True, False
* String
* List
* Tuple

We will cover these later in the course
* Dictionary
* Set

###**Strings**
* Any strand of all characters on the keyboard put in quotations
* One line strings - declared in single quotes (' ') or double quotes (" ")
* Single and double quotes can be used interchangeably

In [ ]:
name_1 = 'John Wick'
name_2 = "Dag Heward-Mills"

In [ ]:
# this is a string and not an integer
age = '2'

In [ ]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"

In [ ]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'

In [ ]:
print (f)

Multi-line strings - declared in triple quotes ( """ """ or ''' ''' )

In [ ]:
eg = """I am in the CEAS library in 
Introduction to Python session """

In [ ]:
print(eg)

#### **Triple quotes for comments**
Many developers use triple quotes to comment, even though it is **not a good programming practice**.

The interpreter ignores any unassigned value, and stores it in memory with no variable to track its address.

In [ ]:
'''This can be used as a comment in
your code. The interpreter ignores any unassigned value
only storing it in memory with no variable to track its address'''

# my real code starts here
print(55)

#### **String Indexing**
Each character can be accessed by using their index starting from index 0

In [ ]:
name = 'Johnson Smith'

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[6]

In [ ]:
name[12]

**You can start indexing from the right side with negative indexes starting with index -1**

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-13]

#### **Slicing**
Extract a range of characters
<br>
Assume a string variable called **'var'**
<br>
**var[ starting index : ending index + 1 ]**

In [ ]:
name

In [ ]:
name[0:6]

In [ ]:
name[7:13]

In [ ]:
name[1:4]

**<h5><center>Note</center></h5>**

**Strings are "IMMUTABLE"** - 
Once you create a string object, you cannot change a particular string location.
<br>
**name[6] = 'c'** 
<br>
will result in the error below

*TypeError                                 Traceback (most recent call last)*
<br>
*\< ipython-input-44-d47a2608aba2 > in < module >()*
<br>
*----> 1 name[6]='-'*
<br>
*TypeError: 'str' object does not support item assignment*

#### **String Functions and Methods**

**Length of a string**

In [ ]:
len(name)

**Convert to string**

In [ ]:
age = 3

In [ ]:
str(age)

**Convert to lower case**

In [ ]:
name.lower()

**Convert to upper case**

In [ ]:
name.upper()

**Is digit/Is alpha**

Output is a Boolean value (True/False)

In [ ]:
name = 'Francis'

In [ ]:
name.isdigit()

In [ ]:
name.isalpha()

In [ ]:
str(age).isdigit()

**Replace characters**

In [ ]:
name.replace('s','k')

**Split a string using a delimiter character**

In [ ]:
text = 'I am going to the University of Cincinnati'
name = "Dag Heward-Mills"

In [ ]:
text.split(' ')

In [ ]:
name.split('-')

#### **String Concatenation**
**Combining strings is done by using the (+) operator between them**

In [ ]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

**In order to combine a string with a non-string variable, use str( ) method to convert non-strings to strings**
<br>
You cannot concatenate a string with a non-string type without converting the non-string type to a string.
<br>
No conversion will result in error similar tp the error below

*TypeError                                 Traceback (most recent call last)*
<br>
*\< ipython-input-77-887da7680fd9 > in < module >( )*
<br>
*----> 1 string1 + 9*
<br>
*TypeError: must be str, not int*

In [ ]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

# **Exercise 2**

#### **(Strings and Lists)**
*   Create a variable with the string value - **The quick brown fox jumps over a lazy brown dog.** <br>
    * Print the length of this string variable
    * **'Split'** the string using **'  '** (space character) and assign this operation to a new variable. Print the length of the new variable
    * Find the middle element of the sequence in new variable and return its value
    * **'replace'** we want to replace the brown fox to blue fox

In [ ]:
# Enter your code here

### **Lists**
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* Creating lists - Put comma separated values within square brackets. Values can be of different data types

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

#### **Accessing values via indexing**
* Same as String objects. 
* Elements or a range of elements can be accessed by index

In [ ]:
list1[0]

In [ ]:
list1[1]

In [ ]:
list1[-1]

In [ ]:
list1[-2]

In [ ]:
list2[3]

In [ ]:
list2[3][2]

In [ ]:
list1[0:4]

In [ ]:
list2[3:5]

#### **List Concatenation**
**Can be done by using the (+) operator between two lists**

In [ ]:
[1,2,3] + [5,6,7]

In [ ]:
list1 + list2

#### **List Functions and Methods**

**Length of a list**

In [ ]:
len(list1)

In [ ]:
len(list2)

**Maximum/Minimum value**

In [ ]:
list3 = [3,4,67,2,1] 
list4 = ['3','4','67','2','1','four','three']

In [ ]:
max(list3)

In [ ]:
max(list4)

In [ ]:
min(list4)

**Append object to list**

In [ ]:
list4.append('two')
list4.append('three')
list4

**Frequency of object**

In [ ]:
list4.count('three')

**Return index**

In [ ]:
list4.index('1')

**Insert object**

In [ ]:
list4.insert(3,56)
list4

**Delete object**

*By Index position*

In [ ]:
list4.pop(3)

In [ ]:
list4

*By element referencing*

In [ ]:
list4.remove('67')

In [ ]:
list4

**Reverse the list**

In [ ]:
list4.reverse()
list4

**Sort the list (natural order)**

In [ ]:
list4.sort()
list4

**List conversion**

In [ ]:
str1 = 'This is a string value'
lst1 = list(str1)
print(lst1)

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

In [ ]:
list4[5] = 5
list4

### **Tuples**
Tuples are sequences, just like lists except
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parentheses ( ), whereas lists use square brackets [ ]

In [ ]:
tup1 = (3,4,67,2,1)

**Tuples are Mutable**

**tup[2] = 8**
<br>
will result in the error below

*TypeError                                 Traceback (most recent call last)*
<br>
*\< ipython-input-177-256383ac5724 > in < module >()*
<br>
*----> 1 tup[2] = 8*
<br>
*TypeError: 'tuple' object does not support item assignment*

**Tuple conversion**

In [ ]:
tup2 = tuple([1,2,3,4,5])
print(tup2)

## **While Loop**

![loop.PNG]()

* **while** loop will execute as long as the looping condition or Boolean expression is **True**
* The loop is exited when the looping condition or Boolean expression becomes **False**

  ***while   < condition >:***<br>
  $\;\;\;\;\;\;$***statement(s)***

In [ ]:
string = input('Enter a string value: ')

idx = 0

while idx < len(string):
    print(string[idx].upper())
    idx += 1   # idx = idx + 1
    
print('\nDone')

In [ ]:
a = 0
b = 0

while (a+b) <= 10:
    
    a = int(input('Enter a first number: '))
    b = int(input('Enter a second number: '))
    print('Sum of the 2 numbers: ', (a+b))
    
print('Sum of the 2 numbers must be less than or equal to 10')    
   
print('\nDone')

### **Infinite loop**
Occurs when
* Loop condition cannot possibly be False example ***while 1 != 2:*** or ***while True:***
* Logic of the loop prevents the loop condition from becoming false
  
 ***count = 10***<br>
 ***while count>0:***<br>
 $\;\;\;\;\;\;$***count += 1***

### **Break Statement**
**break** - Used to exit the current loop

# **Exercise 3 - with While**

* Find the sum of the squares of the first 'n' numbers. Take an input from the user for 'n'. Use **'while'** loop to return the output.

In [ ]:
# Enter your code here

## Iteration: `for` vs. `while`

```
while *Boolean expression*:
    *block of code*
```

```
for *element* in *sequence*:
    *block of code*
```

# **Exercise 3 - with For** 

* Find the sum of the squares of the first 'n' numbers. Take an input from the user for 'n'. Use **'while'** loop to return the output.

In [ ]:
# Enter your code here

##Combining Iteration and Conditional Statements

### Conditional Statements: `if`â€“`elif`â€“`else`

```
if *Boolean expression*:
    *block of code*
elif *Boolean expression*:
    *block of code*
else:
    *block of code*
```

# **Exercise 4 - while/Break/Conditional Statemetns** 

The Fibonacci numbers begin with 1, 1.  After the first two numbers, each number is the sum of the previous two. 1 + 1 = 2, so 2 is the third number. Then 1 + 2 = 3, so 3 is the next one, and so on. 

Write a script that create a list named `fib_list` that contains the <font color=red>first 20 elements</font> of the Fibonacci numbers.

This is how the first 6 elements of the fibonacci number look like:

`fib_list=[1, 1, 2, 3, 5, 8]`

In [ ]:
# Begin solution
fib_list = [1,1]

while len(fib_list)<20:
  fib_list.append(fib_list[-1]+fib_list[-2]) 



print(fib_list)
# End solution

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

##Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc
 * For success stories - https://www.python.org/about/success

# <center>Questions ??


**<center>Thanks for attending the workshop !!**


**<center>Your kind suggestions/feedbacks are more than welcome**